name: Build and push image to Docker Hub

on:
    push:
        branches: [ "main" ]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Login in Docker hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_PASSWORD }}
            - name: Prepare Docker build
              uses: docker/setup-buildx-action@v3
              with:
                context: .
                file: ./Dockerfile
                push: true
                tags: |
                    ${{ secrets.DOCKERHUB_USERNAME }}/ci-test:latest
                    ${{ secrets.DOCKERHUB_USERNAME }}/ci-test:${{ github.sha }}
